site_name: Underdark Articles
site_url: https://underdarkarticles.com
theme:
  name: material
  font:
  text: Merriweather Sans
  code: Red Hat Mono
  icon:
    logo: simple/dungeonsanddragons
    repo: fontawesome/brands/git-alt
  favicon: assets/apple-touch-icon.png
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: orange
      accent: red

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: orange
      accent: red
markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

